/* button.css
	*/
input.roundedButton {
	border-radius: 3px;
	background: #bbddfb;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 28px;
	padding: 0 10px;
	margin: 1px 0px 0px 1px;
	color:#0055a0;
	font-weight:600;
	cursor: pointer;
}

/* end-button.css
	*/