.splashScreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
	background-color:red;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30;
	font-weight: 600;
}